@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");

html,
body {
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
	max-width: 100%;
	/* scroll-snap-type: y mandatory; */
}

a {
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	color: #232323;
	text-decoration: none;
	outline: none;
	font-size: 14px;
	font-weight: 100;
}

/* :: Header Area CSS */
.header-area {
	position: fixed;
	z-index: 995;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	padding: 0px 20px;
	background-color: #000;
}

.header-area .logo-area a {
	color: #FFFFFF;
	font-size: 40px;
	font-weight: 100;
}

@media only screen and (max-width: 767px) {
	.header-area .logo-area a {
		font-size: 30px;
	}
}

.main-logo {
	color: #fff;
	min-width: 200px;
	display: block;
	font-size: 24px;
	min-width: 200px
}

@media only screen and (max-width: 767px) {
	.main-logo {
		min-width: 120px
	}
}

.header-area .menu-content-area .header-social-area {
	margin-right: 30px;
}

.header-area .menu-content-area .header-social-area a {
	font-size: 18px;
	padding: 0 10px;
	color: #FFFFFF;
}

#menuIcon {
	font-size: 25px;
	color: #FFFFFF;
}

@media only screen and (max-width: 767px) {
	.header-area .menu-content-area .header-social-area a {
		padding: 10px 5px;
		font-size: 14px;
	}
}

@media only screen and (max-width: 767px) {
	.header-area .menu-content-area .header-social-area {
		padding: 10px 5px;
		margin-right: 0px;
	}
}

.header-area.sticky {
	background-color: #0077B6;
}

@media only screen and (max-width: 767px) {
	.header-area {
		padding: 0px 10px;
	}
}

@media only screen and (max-width: 767px) {
	#menuIcon {
		font-size: 20px;
	}
}

/* Left Nav */
.leftMenu {
	position: fixed;
	width: 50px;
	height: 100%;
	top: 0;
	left: 0;
	/* z-index: 994; */
	/* text-align: center; */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 50px 0px;
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	/* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
}

.left-main {
	margin-left: 50px;
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
}

.leftMenu .nav-link-icon {
	display: block;
}

.leftMenu .nav-link-text {
	display: none;
	padding: 10px;
}

.leftMenu .closeIcon {
	position: absolute;
	right: 20px;
	top: 70px;
	z-index: 9;
	color: #FFFFFF;
	font-size: 15px;
	cursor: pointer;
	-webkit-transition-duration: 750ms;
	transition-duration: 750ms;
}

.leftMenu .closeIcon:hover {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.leftMenu .logo-area a {
	color: #FFFFFF;
	font-size: 30px;
	display: block;
	font-weight: 100;
}

.leftMenu p {
	margin-bottom: 0;
	color: #FFFFFF;
}

.leftMenu a {
	font-weight: 300;
	color: #FFFFFF;
}

.leftMenu .nav-link {
	color: #FFF;
	font-size: 15px;
	position: relative;
	z-index: 1;
	font-weight: 300;
	padding: 5px 15px;
}

.leftMenu .nav-link span {
	float: left;
	padding-right: 15px;
}

@media only screen and (max-width: 767px) {
	.leftMenu .closeIcon {
		right: 20px;
		top: 70px;
		font-size: 15px;
	}
}

@media only screen and (max-width: 767px) {
	.leftMenu .logo-area a {
		font-size: 30px;
	}
}

@media only screen and (max-width: 767px) {
	.leftMenu .nav-link {
		font-size: 14px;
		/* padding: 10px; */
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.leftMenu {
		padding: 50px 0px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.leftMenu {
		padding: 50px 0px;
	}
}

@media only screen and (max-width: 767px) {
	.leftMenu {
		padding: 50px 0px;
	}
}

/* :: Menu Open CSS */
.left-open .leftMenu {
	width: 200px;
}

.left-open .leftMenu .nav-link-icon {
	display: inline;
}

.left-open .leftMenu .nav-link-text {
	display: inline;
	transition: display 800ms;
}

.left-open .left-main {
	/* transition: margin-left 800ms; */
	transition-duration: 800ms;
	margin-left: 200px;
}

/* Left Nav End */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	margin-right: -125px;
	padding: 5px;
	color: #FFFFFF;
	text-align: center;
	/* Center the snackbar */
	left: 50%;
	right: 50%;
	bottom: 30px;
	position: fixed;
	z-index: 10000002;
}

#snackbar div {
	border-radius: 20px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
	visibility: visible;
	/* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

/* Location Media */
.location-media {
	/* position: relative; */
	margin: 0;
	padding: 0;
}

.location-poster {
	width: 100%;
	/* height: 50em; */
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.location-poster img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

/* crop thumbnails */
.location-thumbnail {
	width: 24em;
	height: 12em;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.location-thumbnail img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.location-user-name {
	width: 10em;
	min-height: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	text-align: left;
}

.location-name {
	width: 13em;
	height: 1.3em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	text-align: left;
	margin-right: auto;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.location-name {
		width: 15em;
	}
}

@media only screen and (max-width: 767px) {
	.location-name {
		width: 15em;
	}
}

/* Location Media End */

/* Loading Elements */
/* Element loading information */
.gradient {
	animation-duration: 1.8s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(to right, #FFFFFF 8%, #DDD 38%, #FFFFFF 54%);
	background-size: 1000px 640px;
	position: relative;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0
	}

	100% {
		background-position: 468px 0
	}
}

/* Element loading information End */
.loading-text {
	margin: 3px;
	border-radius: 20px;
	color: #232323;
}

/* Loading Elements */
/*hide scrollbars*/
/*scrollable menu*/
div.hidden-scroll {
	overflow: auto;
	white-space: nowrap;
}

div.hidden-scroll span {
	/* display: inline-block; */
	text-align: center;
	margin: 1px;
	padding: 5px 10px;
	text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidden-scroll::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE and Edge */
.hidden-scroll {
	-ms-overflow-style: none;
	/* Hide scrollbar for Firefox */
	scrollbar-width: none;
}